<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util
          http://www.springframework.org/schema/util/spring-util.xsd">

    <!--
    Множество частот доступных для тестирования-->
    <util:set id="availableFrequenciesSet" set-class="java.util.TreeSet">
        <value type="java.lang.Integer">40</value>
        <value type="java.lang.Integer">20000</value>
    </util:set>

    <!--
    Множество уровней интенсивностей звука для тестирования по умолчанию-->
    <util:set id="startIntensityLevels" set-class="java.util.TreeSet">
        <value type="java.lang.Integer">30</value>
        <value type="java.lang.Integer">40</value>
    </util:set>
</beans>